RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]

AddDefaultCharset UTF-8
Options -Indexes

<FilesMatch "\.(htaccess|env|json|log|sql|ini|conf)$">
    Require all denied
</FilesMatch>
